# Ignore node modules
node_modules

# Ignore Mac System Files
.DS_store

#Ignore generated reports
mochawesome-report/

#Ignore reports folder
cypress/reports/

#ignore screenshots and videos
cypress/screenshots
